a {
	color: black;
	text-decoration: none;
}

.ng-scope{
	/*height: 100%;*/
}


.content-container {
	width: 100vw;
	
}

.content-container > * {
	margin: 1% auto;
}

#home-page-cards-container > md-card > md-card-title > md-card-title-text > *  {
	text-align: center;

}

#home-page-cards-container > md-card > md-card-action > a {
	margin-left: auto;
	margin-right: auto;
}

span.md-headline {
	text-align: center top;

}

.site-sidenav {
  background: #106CC8;
}
.site-sidenav md-content {
  background: transparent;
}
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width:     272px;
  min-width: 272px;
  max-width: 272px;
}
.site-sidenav > * {
  min-width: 218px;
}