<md-content>

<h2>Hello There!  So you want to know more about me?</h2>
<md-content layout="row">
	<md-button>Show me the whole thing!</md-button>
	<md-button>....I don't have all day</md-button>
</md-content>
<div
	<span>I am a Computer Science Student attending Temple University.</span>

	I enjoy city life and love living in the City of Brotherly Love!  
	On weeknights, you can typically find me hanging with some other computer science <span style="text-decoration: line-through">nerds</span> students programming some projects or complaining about lab assignments late into the night.  
</md-content>