<md-content layout-padding layout="column">
	<h1 layout-align="center center">Fun Stuff Text</h1>
	<md-list>
    	<md-list-item class="md-3-line" >
	    	<div id="cenaStuff" md-list-item-text layout="column">
	    		<h3>Do you like John Cena?</h3>
	    		<md-button href="/other-stuff/Cena.me/index.html"> Yes </md-button>
	    		<md-button href="/other-stuff/Cena.me/index.html"> No </md-button>
	    	</div>
    	</md-list-item>
    	<md-list-item class="md-3-line">
    		<div id="laserStuff" md-list-item-text layout="column">
    		<h3>Try some Lasers!</h3>
    		<md-button href="/other-stuff/lasers/lasers.html"> Yes, I can never have too many lasers! </md-button>
    		</div>
    	</md-list-item>
	</md-list>
</md-content>
