<md-content layout="column" layout-padding>
	<h1>My Projects</h1>
        
        <div>
            <span>Sort By:</span>
            <md-button ng-click="order('updated_at', 'yes')">Latest Commit</md-button>
            <md-button ng-click="order('name', 'no')">Name</md-button>
            
            <md-input-container>
            <label>Search</label>
                <input  ng-model="searchText">
            </md-input-container>
        <div>
	<md-card ng-repeat="repo in data | filter:searchText:strict | orderBy: predicate : reverse">
		<md-card-title>
			<md-card-title-text> 
				<span class="md-headline">{{repo.name}}</span>
				<span class="md-subhead">Last Updated: {{repo.updated_at}}</span>
			</md-card-title-text>

		</md-card-title>
		<md-card-content>
                    <p>{{repo.description}}</p>
                <!--Add content from READ_ME.md files? -->
		</md-card-content>
                    
		<md-card-action>
			<md-button ng-href="{{repo.html_url}}">View on Github</md-button>
		</md-card-action>



	</md-card>
</md-content>
