<md-content layout="column">
	<md-button>Projects Text</md-button>
    
        <div>
            <span>Sort By:</span>
            <md-button ng-click="order('updated_at', 'yes')">Latest Commit</md-button>
            <md-button ng-click="order('name', 'no')">Name</md-button>
        <div>
	<md-card ng-repeat="repo in data | orderBy:predicate:reverse">
		<md-card-title>
			<md-card-title-text> 
				<span class="md-headline">{{repo.name}}</span>
				<span class="md-subhead">Last Updated: {{repo.updated_at}}</span>
			</md-card-title-text>

		</md-card-title>
		<md-card-content>
                    <span>{{predicate}}</span>
                <!--Add content from READ_ME.md files? -->
		</md-card-content>
                    
		<md-card-action>
			<md-button ng-href="https://github.com/{{repo.full_name}}">View on Github</md-button>
			<md-button ng-href=""></md-button>
		</md-card-action>



	</md-card>
</md-content>
